{% extends 'base.html' %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text"> {{ user.email }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        총 입고 수량 : {{ total_quantity }} 개
                    </div>
                </div>
                {% for key, value in code_quantity_dict.items %}
                    <div class="card">
                        <div class="card-body">
                            {{ key }} 입고 수량 : {{ value }}개
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <h2 class="title-left" style="line-height: 200%"> 입고 </h2>
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p>
                                        <form class="form-area" method="post" action="/inbounds/">
                                            {% csrf_token %}
                                            <div class="form-group mt-2 mb-2">
                                                <label for="code_inbound">상품코드</label>
                                                <input type="text" class="form-control" id="code_inbound"
                                                       name="code_inbound">
                                            </div>
                                            <div class="form-group mt-2 mb-2">
                                                <label for="quantity">수량</label>
                                                <input type="number" class="form-control" id="quantity"
                                                       name="quantity">
                                            </div>
                                            <div class="form-group mt-2 mb-2">
                                                <label for="price_inbound">금액</label>
                                                <input class="form-control" id="price_inbound" name="price_inbound">
                                            </div>
                                            <button type="submit" class="btn btn-primary"
                                                    style="float:right;margin-top: 5%;margin-bottom: 1%">작성하기
                                            </button>
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 작성 된 글이 나오는 곳 -->
                <div class="row">
                    {% for ib in inbound %}
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ ib.code_inbound }} | {{ ib.quantity }}개 | {{ ib.price_inbound }}원 | {{ ib.inbound_date }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}