{% extends 'base.html' %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text"> {{ user.email }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        총 출고 수량 : {{ total_quantity }} 개
                    </div>
                </div>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <h2 class="title-left" style="line-height: 200%"> 출고 </h2>
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p>
                                        <form class="form-area" method="post" action="/outbounds/">
                                            {% csrf_token %}
                                            <div class="form-group mt-2 mb-2">
                                                <label for="code_outbound">상품코드</label>
                                                <input type="text" class="form-control" id="code_outbound"
                                                       name="code_outbound">
                                            </div>
                                            <div class="form-group mt-2 mb-2">
                                                <label for="quantity_outbound">수량</label>
                                                <input type="number" class="form-control" id="quantity_outbound"
                                                       name="quantity_outbound">
                                            </div>
                                            <div class="form-group mt-2 mb-2">
                                                <label for="price_outbound">금액</label>
                                                <input class="form-control" id="price_outbound" name="price_outbound">
                                            </div>
                                            <button type="submit" class="btn btn-primary"
                                                    style="float:right;margin-top: 5%;margin-bottom: 1%">작성하기
                                            </button>
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 작성 된 글이 나오는 곳 -->
                <div class="row">
                    {% for ob in outbound %}
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ ob.code_outbound }} | {{ ob.quantity_outbound }}개 | {{ ob.price_outbound }}원 | {{ ob.date_outbound }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}